
body {
  margin: 0px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #0c3e1b;
}

.name {
  font-size: 24px;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu-item {
  margin-right: 20px;
  cursor: pointer;
}

.content {
  padding: 40px;
}

.footer {
  position: fixed; /* Stick the footer to the bottom of the viewport */
  left: 0;
  bottom: 0;
  width: 100%; /* Occupy the full width of the viewport */
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}

.social-links a {
  padding-left: 40px;
  padding-right: 40px;
}

* Contact Form Styles */
.contact-form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  max-width: 400px;
  margin: 0 auto;
}

.contact-form label {
  font-weight: bold;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.contact-form textarea {
  resize: vertical;
}

.contact-form button {
  background-color: #222;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.contact-form button:hover {
  background-color: #444;
}

.Kpic {
  height: 200px;
}

/* Portfolio Section Styles */
.portfolio-section {
  padding: 20px;
  background-color: rgb(13, 140, 182);
  text-align: center;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.project-link {
  display: block;
  text-decoration: none;
  color: #222;
  transition: transform 0.2s;
}

.project-link:hover {
  transform: scale(1.05);
}

.project-title {
  margin-top: 10px;
  font-weight: bold;
}